.modalAddNote {
  display: flex;
  background-color: var(--color-white);
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  box-sizing: border-box;
}

.modalAddNote h3 {
  margin: 0;
}
