.sidebar {
  padding: 10px;
  border-right: 1px solid var(--app-background-stripe);
  display: grid;
  height: 98%;
  grid-template-rows: auto 1fr auto;
}

.sidebar_context {
  overflow-y: auto;
  margin: 10px 0 10px 0;
  padding: 0;
}
